<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183250013214-h0rgians8p1t1ptcq6v6mc232jp014d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183250013214-h0rgians8p1t1ptcq6v6mc232jp014d3</string>
	<key>API_KEY</key>
	<string>AIzaSyAdoYtTKhIB0dWv3Pz221wD-Ej7TtQVeCI</string>
	<key>GCM_SENDER_ID</key>
	<string>183250013214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.touchlab.ios.albany</string>
	<key>PROJECT_ID</key>
	<string>droidcon-4a06f</string>
	<key>STORAGE_BUCKET</key>
	<string>droidcon-4a06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183250013214:ios:e5f6678978f79e96</string>
	<key>DATABASE_URL</key>
	<string>https://droidcon-4a06f.firebaseio.com</string>
</dict>
</plist>